<div class="container">

<div class="starter-template">
    <h1>admin - add question</h1>


  <form action="/insert" method="post">
    <div>
    	<label>question</label>
    	<input name="pergunta" />
		</div>

		<div>
    	<label>answer</label>
    	<textarea name="resposta"></textarea>
  	</div>

    	<input type="submit">
    </form>
</div>
</div>