<div class="container">
<h1>admin</h1>
	<a class="btn btn-success" href="#" role="button">add questions</a>
	<a class="btn btn-success disabled" href="#" role="button">stats</a>

<hr />

<div class="row-fluid">
	<div class="col-xs-4 atendimentos">
		<h3>waiting</h3>

		<div class="list-group">
			  <a href="#" class="list-group-item" data-id="chat_1213836605">
		    <h4 class="list-group-item-heading">chat_1213836605</h4>
		    <p class="list-group-item-text">rio de janeiro <br>chrome <br> hotel/buzios/blue-tree-park</p>
			</a>
		</div>
	</div>

	<div class="col-xs-4 chat-ext hidden hu-chat">
	<h3>conversa</h3>

	<ul class="log">
	</ul>

	<textarea cols="30" rows="3" placeholder="Escreva sua resposta nesse campo"></textarea>
	<button type="button">responder</button>
</div>
<div class="col-xs-4 chat-ext hidden">
	<h3>perfil</h3>

	<ul>
		<li>nome: <b>Nome do usuário</b></li>
		<li>idade: <b>22</b></li>
		<li>endereço: <b>rua dos bobos</b></li>
		<li>email: <b>lorem@ipsum.do</b></li>
		<li>data cadastro: <b>22/11/2013</b></li>
		<li>ip: <b>192.168.0.1</b></li>
	</ul>

	<div>
	<img src="https://maps.googleapis.com/maps/api/staticmap?center=Barra+da+Tijuca,RJ&zoom=13&size=300x200&maptype=roadmap" />
	</div>

	
	<b>últimas compras:</b><br>
	11-11-1123: pacote XYZ de 11 até 22 de março

</div>
</div>

</div>